@charset "utf-8";
/* CSS Document for MEH website*/

body {
	background: url("black-thread.png") black;
	/* Version2 background: url("green-dust-and-scratches.png") black;*/
	margin: 0;
	padding: 0;
}
/*homepage*/
#profilePic {
	border-radius: 50%;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*grid used for homepage and resume page*/
.grid-container {
	display: grid;
	grid-template-columns: 45% 55%;
	justify-content: center;
}
.grid-item1 {
	grid-column: 1;
	grid-row: 1;
	text-align: center;
}
.grid-item2 {
	grid-column: 1;
	grid-row: 2;
}
.center {
	text-align: center;
}
.projectPics {
	width: 30%;
	height: 20%;
}
header {	
	background-color: blueviolet;
	/* Version2 background-color: darkorange;*/
	padding-top: 0;
	overflow: hidden;	
	border: 5px solid indigo;	
}
.name {
	color: ghostwhite;
	text-align: left;
	text-shadow: 2px 2px 8px black;
	padding-left: 5%;
	float: left;	
}
/*navigation bar*/
nav {
	float: right;	
}
/*nav list style*/
nav li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
/*nav links*/
nav a {
	text-decoration: none;	
	font-size: 20px;
	color: ghostwhite;
	display: block;
	text-align: center;
	padding: 14px 16px;
}
nav a:hover {
	color: blue;
}
a {
	color: ghostwhite;
	text-decoration: none;
}
/*link hover*/
a:hover, #anchor:hover, #style:hover {
	color: blue;
}
/*headings*/
h1 {
	color: gainsboro;
	text-align: center;	
}
h2 {
	color: ghostwhite;
}
h3 {
	color: ghostwhite;
}
h4 {
	color: purple;
}
p {
	color: gainsboro;
	
}
#intro {
	text-align: center;
}
#about {
	grid-column: 2;
	grid-row: 1;
	margin-right: 10%;
}
.paragraph {
	padding-left: 30%;
	padding-right: 25%;
	padding-top: 8%;
	clear: both;
}

/*projects page*/
.column {
	float: left;
	width: 33.33%;
	margin: 1%;
}
.projectPics {
	width: 90%;
	height: 300px;	
}

/*resume page*/
.grid-item3 {
	grid-column: 2;
	grid-row: 1;
}
.skillBar {
	box-sizing: border-box;
	width: 90%;
	background-color: gray;
	border-radius: 25px;
	
}
.Skill {
	text-align: right;
	border-radius: 25px;
}
.java {
	width: 85%;
	background-color: dodgerblue;
}
.html {
	width: 75%;
	background-color: darkorange;
	
}
.css {
	width: 75%;
	background-color: limegreen;
}
.js {
	width: 65%;
	background-color: magenta;
}
.python {
	width: 50%;
	background-color: gold;
}
.grid-item1 p {
	text-align: center;
}
.skillsList {
	color: gainsboro;
	
}
.listParent {
	text-align: center;
}
.listParent ul {
	display: inline-block;
	padding: 0;
	margin-top: 0;
}
.listParent li {
	text-align: left;
}


